.glass {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.1);
    // background: rgba(63, 63, 70, 0.01);
    // background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    // border: 1px solid rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.03);
    // scale: 1.2;
  }

.glassgrid {
  // & > *:not(*:has(span)) {
  & > *:not(&:has(span)) {
    background: rgba(0, 0, 0, 1);
    // background: rgba(63, 63, 70, 1);
    // background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(7px);
    // -webkit-backdrop-filter: blur(10px);
    // border: 1px solid rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
  
  .linear-bg {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(
        49% 81% at 66% 30%,
        #9603ff66 0%,
        #073aff00 100%
      ),
      radial-gradient(49% 81% at 32% 45%, #03b6ff42 0%, #073aff00 100%),
      radial-gradient(113% 91% at 17% -2%, #000000ff 1%, #ff000000 99%),
      radial-gradient(142% 91% at 83% 7%, #000000ff 2%, #ff000000 99%),
      radial-gradient(142% 91% at -6% 74%, #000000ff 1%, #ff000000 99%),
      radial-gradient(142% 91% at 111% 84%, #000000ff 0%, #000000ff 100%);
  }
  
  .text-shadow-hero {
    text-shadow: -1px 2px 12px rgba(0, 0, 0, 0.6);
  }